**/.DS_Store
__pycache__/
heatmaps/
docs/
IMAGES/
patch_samples/
PATCHES/
results/
results_round2/
results_ViT/
splits_2/
Geo_CLAM/
FEATURES/
past_work/
CNNs/
10X_IMAGES/
10X_PATCHES/
20X_IMAGES/
20X_PATCHES/
results_10X/
results_20X/
results_clam_20X/